@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Sail&display=swap');

*{
    margin: 0;
    padding: 0;
}

html, body {
    scroll-behavior: smooth;
    width:100%;
    height: 100vh;
    background-color: #A9BAA0;
}

.slide{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;

}

.container{
    max-width: 1813px;
    margin: 0 auto;
    background-color: white;
}

/*************** Class Color **********/

.backgroundGreen{
    background-color: #A9BAA0;
}

.colorDarkGreen{
    color : #727956;
}

.colorGreen{
    color : #4D793E;
}

.colorWhite{
    color : #ffffff;
}

/*************** HOME **********/

nav{
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.navbar li a{
    width: 200px;
    height: 100px;
    display: block;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.logo{
    flex: 1;
}

.navItem{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 100px;
    width: 200px;
    height: 100px;

}

.navItem a{
    text-decoration:none;
}

.accueil{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index:70;
    background-image: url(img/home.png);
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
}

.boxHome{
    width: 370px;
    height: 610px;
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    margin-top: 100px;
}

.logoHome{
    width: 100%;
    height: 410px;
    background-image: url(img/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.title{
    width: 100%;
    height: 200px;
    line-height: 100px;
}

.title h1{
    font-family: 'Sail', cursive;
    font-size: 55px;
    text-align: center;
}

.title h2{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

/*************** CONTACT **********/

#contact{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.haut{
    width: 100%;
    height: 50vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxCont{
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.boxCont h1{
    font-family: 'Sail', cursive;
    font-size: 48px;
}

.boxCont hr{
    height: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #727956;
}

.lotus{
    width: 350px;
    height: 68px;
    background-image: url("img/lotus.png");
    background-position: center;
    background-repeat: no-repeat;
}

.boxText{
    width: 900px;
    height: 150px;

}

.boxText p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.bas{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card{
    width: 320px;
    height: 450px;
}

.img1{
    background-image: url("img/card1.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.img2{
    background-image: url("img/card2.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.img3{
    background-image: url("img/card3.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.img4{
    background-image: url("img/card4.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/**** Slide 3 */
.careBox{
    width: 100%;
    background-color: #566070;
    display: flex;
    font-family: 'Roboto', sans-serif;
}
.leftBox{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftBox ul{

}
.leftBox ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 75px;
    width: 405px;
    list-style: none;
    border-top: 1px solid #89AD91;
    border-right: 27px solid rgba(255, 255, 255, .0);
    /*border-bottom: 1px solid #89AD91;*/
    cursor:pointer;
    text-transform: uppercase;
}
.leftBox ul li:nth-child(1){
    border-right: 27px solid #89AD91;
}
.leftBox ul li:last-child{
    border-bottom: 1px solid #89AD91;
}
.folderBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.folderBox h1{
    color: #89AD91;
}
.folderBox .contentBox{
    max-width: 609px;
}
.folderBox p{
    color: white;
    padding-top:10px;
    padding-bottom: 10px;
}
.folderBox div ul li{
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}
.folderBox .contentBox .btnFolderBox{
    color: white;
    height: 60px;
    max-width: 609px;
    background-color: #89AD91;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    border-radius: 5px;
    margin-top: 10px;
}
.contentBox h1{
    text-align: center;
    font-family: 'Sail', cursive;
}
.rightBox{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    padding-top: 10px;
}
.rightBox div{
    display: flex;
    justify-content: center;
    width: 620px;
}
.decoBox{
    width: 269px;
    height: 770px;
    background-image: url("img/f1.svg");
}
@media screen and (max-width: 1350px){
    .careBox{
        flex-direction: column;
        align-items: center;
    }
    .folderBox .contentBox{
        width: 100%;
    }
    .folderBox{
        width: 100%;
    }
    .leftBox{
        width: unset;
    }
    .leftBox ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .leftBox ul li{
        width: 150px;
        margin-left: 5px;
    }
    .leftBox ul li:nth-child(5){
        border-bottom: 1px solid #89AD91;
    }
    .btnFolderBox{
        margin-bottom: 10px;
    }
    .contentBox h1, .contentBox p{
        text-align: center;
    }
    .decoBox{
        display: none;
    }
}

/*************** GALLERY **********/

#gallery{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.hautGal{
    width: 100%;
    height: 25vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxGal{
    width: 450px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.boxGal h1{
    font-family: 'Sail', cursive;
    font-size: 48px;
}

.boxGal hr{
    height: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #727956;
}

.lotusGal{
    width: 450px;
    height: 68px;
    background-image: url("img/lotus.png");
    background-position: center;
    background-repeat: no-repeat;
}

.basGal{
    width: 100%;
    height: 75vh;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: center;
}

.boxImg{
    width: 800px;
    height: 320px;
    border-radius: 10px;
    margin: 10px;
}

.boxImg:nth-child(1){
    background-image: url("img/pic1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.boxImg:nth-child(2){
    background-image: url("img/pic2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.boxImg:nth-child(3){
    background-image: url("img/pic3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.boxImg:nth-child(4){
    background-image: url("img/pic2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*************** FOOTER **********/

footer{
    width: 100%;
    height: 70vh;
    background-color: #566070;
    display: flex;
    flex-direction: column;

}

.hautFoot{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoFoot{
    width: 150px;
    height: 150px;
    margin-top: 50px;
    background-image: url("img/logoWhite.png");
}

.basFoot{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.boxFoot{
    width: 500px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxFoot h1{
    font-family: 'Sail', cursive;
    margin-bottom: 20px;
}

.boxFoot hr{
    width: 100%;
    margin-bottom: 20px;
}

.boxFoot p{
    font-family: 'Roboto', sans-serif;

}

.titleFoot{
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleFoot h1{
    font-family: 'Sail', cursive;
    margin-top: 10px;
    margin-bottom: 10px;
}

.titleFoot hr{
    width: 100%;
    margin-bottom: 20px;
}

.titleFoot h2{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.boxContact{
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.infoCont{
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: row;
}

.infoCont p{
    width: 190px;
    font-family: 'Roboto', sans-serif;
    overflow-wrap: break-word;
    text-align: center;
}

.icon{
    margin-right: 10px;
}

